.form_option_and_input_wrap{
  margin-bottom: 50px;
}

.callback_form {
  text-align: center;
  margin: 0 auto;

  .form-group{

    input:not([type="submit"]), textarea, select{
      width: 100%;
      border: 2px solid #7c7c7c;
      border-radius: 25px;
      background-color: transparent;
      padding: 13px 27px;
      text-align-last: center;
      font-size: 16px;


      &::placeholder{
        color: #000000;
        font-family: Raleway;
        font-size: 16px;
        font-weight: 400;
      }

      &:focus{
        border: 2px solid #fac51d;
        outline: none;

      }
    }

    #number{
      margin: 12px 0px;
    }

    .machine_size{
      margin: 13px 0px;
    }

    select{
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: transparent url("../img/design_machines/arrow-down.png") no-repeat 265px 16px;

      &:focus{
        background: transparent url("../img/design_machines/full_ark_top.png") no-repeat 276px 6px;
      }
    }

    .call_form_options {

      select {
        color: #000000;
        font-family: Raleway;
        font-size: 16px;
        font-weight: 400;
        text-align-last: center;
        option {
        }
      }
    }
    input{
      text-align: center;

    }

    textarea{
      resize: none;
      height: 176px;
      padding: 11px 27px;
      text-align: left;
      text-align-last: left;

    }


      color: black;

  }

}

form{
  input[type="submit"] {
    border-radius: 30px;
    border: 0px;
    background-color: $mainYellow;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    padding: 12px 55px;
    margin: 42px 0px;
  }
}
