.design_machines {
  .banner_description_block {
    margin-bottom: 276px;

    &.design_machines_icons{
      margin-bottom: 0px;
    }

    .shape_arc{
      width: 100%;
      display: block;

      &.top{
        position: relative;
        top: 0px;
      }
      &.bottom{
        position: absolute;
        bottom: -229px;
        z-index: -1;
      }

    }
    .banner_description_block_wrapper {
      .banner_description_title {
        &:before{

        }
        h3 {

        }
      }
    }

      .banner_description_icon_block{
        &:after{
          display: none;
        }
        .callback_form{
          padding: 0px 234px;
        }
      }
    }
  }

.cnc_machines_scheme_block {
  margin: 20px 0px;
  .cnc_machines_scheme_block_wrapper {

    .scheme_block {
      padding-right: 50px;

      &:after{
        content: '';
        background-image: url("../../img/design_machines/right-arr.png");
        position: absolute;
        width: 87px;
        height: 63px;
        top:51%;
        right: -44px;
        background-size: contain;
        background-repeat: no-repeat;
      }

      .scheme_title {
        text-align: center;
        h3 {
          color: #000000;
          font-family: Raleway;
          font-size: 24px;
          font-weight: 700;
          text-align: center;
        }
        img{
          margin-bottom: 30px;
        }
      }
      .scheme_img {
        img {
          width: 100%;
        }
      }
    }

    .cnc_machine_block {
      &:after{
        content: '';
        background-image: url("../../img/design_machines/left-arr.png");
        position: absolute;
        width: 87px;
        height: 63px;
        top:73%;
        left: -44px;
        background-size: contain;
        background-repeat: no-repeat;
      }
      padding-left: 50px;
      .cnc_machine_title {
        text-align: center;
        h3 {
          color: #000000;
          font-family: Raleway;
          font-size: 24px;
          font-weight: 700;
          text-align: center;

        }
        img{
          margin-bottom: 30px;
        }
      }
      .cnc_machine_img {
        img {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .design_machines .banner_description_block .banner_description_icon_block .callback_form{
    padding: 0px;
  }

  .cnc_machines_scheme_block .cnc_machines_scheme_block_wrapper .scheme_block{
    padding: 0px;
  }

  .cnc_machines_scheme_block .cnc_machines_scheme_block_wrapper .scheme_block .scheme_title img{
    display: none;
  }

  .cnc_machines_scheme_block .cnc_machines_scheme_block_wrapper .cnc_machine_block .cnc_machine_title img{
    display: none;
  }
  .cnc_machines_scheme_block .cnc_machines_scheme_block_wrapper .cnc_machine_block{
    padding: 0px;
  }
  .cnc_machines_scheme_block .cnc_machines_scheme_block_wrapper .scheme_block:after{
    display: none;
  }
  .cnc_machines_scheme_block .cnc_machines_scheme_block_wrapper .cnc_machine_block:after{
    display: none;
  }
  #select3{
    margin-bottom: 10px;
  }
  .work_steps_block .work_steps_wrapper .work_step_item.angle_arrow:after{
    display: none;
  }
}
