
.main_banner_title_block {
  position: relative;
  .main_banner_title {
    .main_banner_title_image {
      img {
          width: 100%;
      }
    }
    .main_banner_title_text {
      position: absolute;
      top: 43%;
      left: 51%;
      width: 61%;
      transform: translate(-50%,-50%);

      h1{
        text-shadow: -5px 5px 6px rgba(49, 49, 49, 0.44);
        color: #ffffff;
        font-family: Raleway;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }
}

.main_power_supply_description_block {
  .main_power_supply_description_block_wrapper {
    .main_power_supply_description_text {
      p {
        color: #000000;
        font-family: OpenSans;
        font-size: 18px;
        font-weight: 400;
        margin: 50px 100px;

          b{
            font-style: normal;
            font-family: sans-serif;
          }
      }
    }
    .main_power_supply_description_block_title {
      h3 {
        color: #000000;
        font-family: "OpenSans";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        margin: 65px auto;
        text-align: center;
        width: 800px;
      }
    }
    .main_power_supply_description_block_list {
      ul {
        list-style: none;
        li {
          position: relative;
          color: #000000;
          font-family: OpenSans;
          font-size: 18px;
          font-weight: 400;
          line-height: 24px;
          margin: 20px 0px;
          &:before{
            content: "•";
            font-size: 34px;
            color: $mainYellow;
            position: absolute;
            left: -30px;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 600px) {
  .main_banner_title_block .main_banner_title .main_banner_title_text h1{
    font-size: 19px;
  }
  .main_power_supply_description_block .main_power_supply_description_block_wrapper .main_power_supply_description_text p{
    margin: 50px 0px;
  }
}

@media screen and (max-width: 1200px) {
  .main_banner_title_block .main_banner_title .main_banner_title_text h1{
    font-size: 19px;
  }
  .main_power_supply_description_block .main_power_supply_description_block_wrapper .main_power_supply_description_block_title h3{
    width: auto;

  }
}