.solar_panels{

  .banner_description_block {
    margin-bottom: 276px;

    .shape_arc {
      width: 100%;
      display: block;

      &.top {
        position: absolute;
        top: -280px;
        z-index: -1;
      }
      &.bottom {
        position: absolute;
        bottom: -229px;
        z-index: -1;
      }

    }
    .banner_description_block_content {
      .banner_description_block_wrapper {
        .banner_description_title {
          &:before {
            top:-1px;
          }
          h3 {
            padding-top: 90px !important;
          }
        }
      }

      .banner_description_icon_block {
        &:before{
          top:-19px;
        }
        &:after {
          bottom: -295px;
        }
        .callback_form {
          //padding: 0px 234px;
        }
      }
    }
  }
}

.main_solar_panel_description_block {
  margin-top: 67px;
  .main_solar_panel_description_block_wrapper {

    .main_solar_panel_description_text {

      p {
        color: #000000;
        font-family: OpenSans;
        font-size: 17px;
        font-weight: 400;
        strong{
          font-size: 22px;
          font-weight: 700;
        }
      }
    }
  }
}

.work_steps_block {
  .work_steps_wrapper {
    .work_step_item {
      margin: 20px 0px;
      &.down_arrow:after{
        content: '';
        background-image: url("../img/solar_panels/arr_step.png");
        position: absolute;
        width: 63px;
        height: 87px;
        left: 43%;
      }
      &.angle_arrow:after{
        content: '';
        background-image: url("../img/solar_panels/angle_arr.png");
        position: absolute;
        width: 63px;
        height: 87px;
        top: 42px;
        right: -32px;
        background-size: contain;
        background-repeat: no-repeat;
      }
      .work_step_item_content {
        position: relative;
        .step_background_number p{
          text-shadow: -5px 5px 5px rgba(49, 49, 49, 0.09);
          color: #d3d3d2;
          font-family: sans-serif;
          font-size: 213px;
          font-weight: 700;
          margin: 0px;
          text-align: center;
        }

        .step_content_block {
          position: absolute;
          top: 79px;
          left: 0;
          width: 100%;
          .step_count {
            h3 {
              text-align: center;
              color: #000000;
              font-family: Raleway;
              font-size: 30px;
              font-weight: 800;
            }
          }
          .step_title {
            p {
              text-align: center;
              color: #020202;
              font-family: Raleway;
              font-size: 24px;
              font-weight: 500;
            }
          }
        }
      }
      .step_image {
        text-align: center;
        img {
        }
      }
    }
  }
}