mixin breadcrumbs(pages)
    - pages = pages ? pages : [];
    .breadcrumbs
        ul
            -for(var page = 0; page < pages.length; page++)
                if (pages[page] == pages[pages.length - 1])
                    li
                        a(href='#').current= pages[pages.length - 1]
                else
                    li
                        a(href='#')= pages[page]
                    span —
