footer.footer
    .footer_map_wrapper
        .footer_map_description
            .footer_map_description_title
                h3 Наши контакты
            .footer_map_description_content
                .footer_map_description_social_icons
                    i(class="fa fa-facebook-square", aria-hidden="true")
                    i(class="fa fa-instagram", aria-hidden="true")
                .footer_map_description_numbers
                    i(class="fa fa-phone", aria-hidden="true")
                    .phones
                        p + 38 (048) 736-68-90
                        p + 38 (094) 931-08-90
                .footer_map_description_adress_and_working_hours
                    .row
                        .footer_map_description_adress.col-lg-6
                            p г. Одесса
                            p ул. Семинарская, 1/4
                        .footer_map_description_working_hours.col-lg-6
                            p График работы:
                            p Пн - Сб
                            p с 9:00 до 20:00
            .footer_map_description_button
                .row
                    .footer_button
                        .svg-wrapper
                            svg(height="49" width="320" xmlns="http://www.w3.org/2000/svg")
                                rect(class="shape" height="48" width="320")
                                .text
                                    a.trigger_form(href='#', data-id='callback1').
                                        ЗАПИСАТЬСЯ НА ПРИЕМ

        .footer_map
            iframe(width="100%", height="633", frameborder="0", style="border:0", src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJM9O_NmIxxkARfETHIcLK1n8&key=AIzaSyDTVoRJHnAg6tLgI72EYamS5IF2_pLC72I&zoom=18", allowfullscreen)
    .container
        .footer_content_wrapper
            .row
                .col-lg-3.col-md-6.col-sm-6.col-xs-12
                    .footer_logo
                        img(src='img/logo/logo_full.png')
                .col-lg-2.col-md-3.col-sm-3.col-xs-6
                    .footer_adress
                        p.
                            г. Одесса
                        p.
                            ул. Семинарская, 1/4
                .col-lg-2.col-md-3.col-sm-3.col-xs-6
                    .footer_number
                        p.
                            + 38 (094) 931-08-90
                        p.
                            + 38 (048) 736-68-90
                .col-lg-3.col-md-12.col-sm-12.col-xs-12
                    .footer_button
                        .svg-wrapper
                            svg(height="49" width="263" xmlns="http://www.w3.org/2000/svg")
                                rect(class="shape" height="48" width="263")
                                .text
                                    a.trigger_form(href='#', data-id='callback').
                                        записаться на консультацию
                .col-lg-2.col-md-12.col-sm-12.col-xs-12
                    .footer_social_icons
                        i(class="fa fa-facebook-square", aria-hidden="true")
                        i(class="fa fa-instagram", aria-hidden="true")
