header
    .container
        .header_wrapper
            a.logo(href='#')
                img(src='img/logo/logo_full.png')
            .header_main_wrapper
                .burger
                    i.fa.fa-bars
                .header_main_content
                    .header_main_content_contacts
                        .phone_wrapper
                            span.phone(href='#').
                                + 38 (048) 736-68-90
                            span.phone(href='#').
                                + 38 (094) 931-08-90
                        .phone_button.animated(href='#')
                            i.fa.fa-phone.fa-flip-horizontal
                        a.search_button
                        .search_wrapper.animated
                            input(type="text").search_form.animated
                            .close_button.
                                &times
                        a.consultation.button.trigger_form(href='#', data-id='callback').
                            записаться на консультацию
                    nav.header_main_content_nav.header_main_content_nav_mobile
                        ul
                            li.header_main_content_nav_item
                                .mark.
                                    +
                                a(href='#').
                                    услуги
                                ul.nav_lists.animated
                                    li.item
                                        .mark.
                                            +
                                        a.
                                            Медицинская косметология
                                        ul.cosmetology_items.padding_class.animated
                                            li.item
                                                a.
                                                    Лечение проблем кожи головы и волос
                                            li.item
                                                a.
                                                    Карбокситерапия
                                            li.item
                                                a.
                                                    Ботулинотерапия
                                            li.item
                                                a.
                                                    Пептидная терапия
                                            li.item
                                                a.
                                                    Нитевой лифтинг
                                            li.item
                                                a.
                                                    PRPтерапия
                                            li.item
                                                a.
                                                    Контурная пластика
                                            li.item
                                                a.
                                                    Инъекции мезотерапевтических коктейлей
                                            li.item
                                                a.
                                                    Инъекции биоревитализантов
                                    li.item
                                        .mark.
                                            +
                                        a.
                                            Апаратная косметология
                                        ul.cosmetology_items.padding_class.animated
                                            li.item
                                                a.
                                                    Прессотерапия
                                            li.item
                                                a.
                                                    SMAS-лифтинг
                                            li.item
                                                a.
                                                    Лазерное удаление татуажа и пигментных пятен
                                            li.item
                                                a.
                                                    Лазерная и фотоэпиляция волос
                                            li.item
                                                a.
                                                    Удаление сосудов, папиллом
                                            li.item
                                                a.
                                                    Фракционное омоложение
                                            li.item
                                                a.
                                                    Карбоновый пилинг
                                            li.item
                                                a.
                                                    Радиоволновой лифтинг моно и биполярный (лицо и тело)
                                            li.item
                                                a.
                                                    Криолиполиз
                                            li.item
                                                a.
                                                    Ультразвуковая кавитация
                                            li.item
                                                a.
                                                    Радиоволновой микронидлинг
                                            li.item
                                                a.
                                                    Микротоковая терапия
                                            li.item
                                                a.
                                                    Безинъекционная терапия
                                            li.item
                                                a.
                                                    Вакуумно-роликовый массаж
                                    li.item
                                        .mark.
                                            +
                                        a.
                                            Комплексная косметология
                                        ul.cosmetology_items.padding_class.animated
                                            li.item
                                                a.
                                                    Комплексные уходы по лицу на основе косметики Forlled, Meder, La Sultane de Saba, Danne, HolyLend и др.
                                            li.item
                                                a.
                                                    Пилинги химические Sesderma, Enerpeel, SkinTech и др.
                                            li.item
                                                a.
                                                    Уходы по телу EricsonLab <br> (Обертывание, пилинги, уход за бюстом)
                                            li.item
                                                a.
                                                    Ультразвуковая чистка
                                            li.item
                                                a.
                                                    Маникюр и лечение ногтей
                                            li.item
                                                a.
                                                    Аппаратный педикюр на технологии и базе косметики Peclavus
                            li.header_main_content_nav_item
                                .mark.
                                    +
                                a(href='#').
                                    оборудование
                                ul.nav_lists.padding_class.animated
                                    li.item
                                        a.
                                            IMPRESS-240 - система прессотерапии
                                    li.item
                                        a.
                                            INNOFILL RF (Korea) – аппарат монополярного RF воздействия на конце канюли
                                    li.item
                                        a.
                                            ULTHERA (АЛЬТЕРА) (USA)- аппарат ультразвукового SMAS лифтинга лица
                                    li.item
                                        a.
                                            INCO2 (Slovenia) – аппарат для карбокситерапии
                                    li.item
                                        a.
                                            Л’МЕД-1 (Rossia) - хирургический CO2 лазер
                                    li.item
                                        a.
                                            CYNOSURE APOGEE+ (USA) - александритовый лазер, «золотой стандарт» лазерной эпиляции
                                    li.item
                                        a.
                                            X-LASE Plus (Italia) - универсальная лазерная платформа
                                    li.item
                                        a.
                                            FUSIOMED (Italia) – многофункциональная платформа для моделирования тела
                                    li.item
                                        a.
                                            MESOTHERM (Italia) - система для ухода и омоложения кожи лица и тела
                                    li.item
                                        a.
                                            ICOONE (Italia) – аппарат для коррекции фигуры и очертаний лица
                            li.header_main_content_nav_item
                                a(href='#').
                                    акции
                            li.header_main_content_nav_item
                                .mark.
                                    +
                                a(href='#').
                                    о центре
                                ul.nav_lists.padding_class.animated
                                    li.item
                                        a.
                                            Галерея видео
                                    li.item
                                        a.
                                            Наши Специалисты
                                    li.item
                                        a.
                                            Галерея фотографий
                            li.header_main_content_nav_item
                                a(href='#').
                                    контакты
                        .close_button.
                            &times
                        .hover_line
                .social_networks
                    a(href='#')
                        i.fa.fa-facebook-square
                    a(href='#')
                        i.fa.fa-instagram