header
    .container
        .header_wrapper
            a.logo(href='#')
                img(src='img/main_logo.png')
            .header_main_wrapper
                .burger
                    i.fa.fa-bars
                .header_main_content
                    .header_main_content_contacts
                        .phone_wrapper
                            span.phone(href='#').
                                +38 (093) 003 08 09
                           
                        a.consultation.button.trigger_form(href='#', data-id='callback').
                            записаться на консультацию
                    nav.header_main_content_nav.header_main_content_nav_mobile
                        ul
                            li.header_main_content_nav_item
                                .mark.
                                    +
                                a(href='#').
                                    Альтернативные источники энергии
                                
                                    
                            li.header_main_content_nav_item
                                .mark.
                                    +
                                a(href='#').
                                    Электроснабжение
                                
                            li.header_main_content_nav_item
                                a(href='#').
                                    Удаленное управление
                            li.header_main_content_nav_item
                                .mark.
                                    +
                                a(href='#').
                                    СТАНКИ ЧПУ
                                
                            li.header_main_content_nav_item
                                a(href='#').
                                    КОнтакты
                        .close_button.
                            &times
                