mixin title(title, color)
    .title
        -var col = color;
        -if(col == "yellow")
            h1=title
        -else if(col == "black")
            h1.black=title
        -else if(col == "top-yellow")
            h1.top-yellow=title
        -else if(col == "none")
            h1.none=title