doctype html
html(lang='en')
    include modules/head
    body.alternative
        include modules/components/header
        main
            .container
                .alternative_main_block

                        .alternative_main_block_wrapper.col-lg-10
                            -var titles =["Главная", "Альтернативные источники энергии"];

                            include modules/components/breadcrumbs
                            +breadcrumbs(titles)

                            .alternative_main_description_block

                                include modules/components/title
                                +title('Альтернативные источники энергии','yellow')

                                .alternative_main_description
                                    p.
                                        Простое желание иметь свое электричество, чтобы не зависеть от перебоев и отключений электросети, а так же вечное повышение тарифов на электроэнергию, которое подталкивает население на экономию энергоресурсов, ведет к популярности альтернативных источников электроэнергии. Подобное создание позволяет добиться значимых показателей экономии на электричестве.
                                        Ветряки, а также солнечные батареи можно смело приравнивать к обычным бытовым электроприборам. В Украине можно без всякой регистрации использовать для личных нужд ветряные и солнечные установки мощностью не более 75 кВт и ветряки высотой не более 30м. (Ссылка на закон)

                            .sun_battery_block

                                .sun_battery_image
                                    .sun_battery_image_sun
                                        img.shadow(src="img/alternative/sun-shadow.png")
                                        img.sun(src="img/alternative/sun.png")
                                    .sun_battery_image_platform
                                        include modules/alternative/panels.svg
                                .sun_battery_content
                                    .sun_battery_title
                                        h3 СОЛНЕЧНЫЕ БАТАРЕИ
                                    .sun_battery_description
                                        p.
                                            Солнечная батарея – отличный способ экономии вашего бюджета там, где нет линий электроснабжения или требуется резервный источник питания. Вы больше не будете платить за электричество.
                                    .sun_battery_button
                                        a(href="#") ПОДРОБНЕЕ

                            .quote_block
                                .quote_text
                                    p
                                        strong Наша задача
                                        |  — не продать вам как можно больше солнечных модулей или аккумуляторов, а предложить вам систему электроснабжения, которая за минимальные деньги будет решать вашу задачу электроснабжения.

                            .air_energy_block

                                .air_energy_content

                                    .air_energy_title
                                        h3 ЭНЕРГИЯ ВЕТРА
                                    .air_energy_description
                                        p
                                            | У ветрогенераторов есть несколько существенных преимуществ: они практически бесшумны, не требуют совершенно никакого обслуживания,
                                            span  имеют гарантированный срок службы более 20 лет.
                                    .air_energy_button
                                        a(href="#") ПОДРОБНЕЕ

                                .air_energy_image_wrap
                                    .air_energy_top
                                        img(src="img/alternative/вертушка.png")
                                    .air_energy_platform
                                        img(src="img/alternative/ножка.png")



                        .vertical_slider.col-lg-2
                            each val in [1,2,3,4,5,1]
                                a(href="img/alternative/house"+ val +".png", data-lightbox="roadtrip")
                                    img(src="img/alternative/house"+ val +".png", alt="")


            .about_alternative_energy_block
                .banner_description_block
                    include modules/main/shape_top.svg
                    .banner_description_block_content
                        .banner_description_block_wrapper
                            .banner_description_title
                                h3 Альтернативная энергия ЭТО

                        .banner_description_icon_block
                            .container
                                .row
                                    .banner_description_icon_block_wrapper
                                        -var icons = ["-------2","money","plug" ];
                                        -var title = ["Универсально","Экономно","Экологично"];
                                        each val in [0,1,2]
                                            -if(val!=0)
                                                .col-lg-4.banner_description_dots_wrapper
                                                    .banner_description_dots
                                                        .col-lg-4.dot •
                                                        .col-lg-4.dot •
                                                        .col-lg-4.dot •

                                            .banner_description_icon_block_item.col-lg-10
                                                .banner_description_icon_wrapper
                                                    .banner_description_icon_block_img
                                                        img(src="img/icons/" + icons[val] + ".png")
                                                .banner_description_icon_block_title
                                                    h3=title[val]
                    include modules/main/shape_bottom.svg


            .faq_block
                .faq_block_wrapper
                    .container
                        +title("Вопросы и ответы","yellow")

                        .faq_item_block
                            .faq_item_title
                                h3 Что входит в состав си   стемы мониторинга «СПРУТ»?
                            .faq_item_description
                                p Непосредственно в состав системы мониторинга СПРУТ входит: 1. Оболочка визуального восприятия информации, которая устанавливается на компьютер и внешний вид, которой программируется по желанию заказчика. 2. Модули снятия параметров и контроля процессов. 3. Соединительная линия передачи данных. 4. Модуль выхода в интернет или сотовую сеть, для доступа с любой точки

                        .faq_item_block
                            .faq_item_title
                                h3 Что входит в состав си   стемы мониторинга «СПРУТ»?
                            .faq_item_description
                                p.
                                    епосредственно в состав системы мониторинга СПРУТ входит: 1. Оболочка визуального восприятия информации, которая устанавливается на компьютер и внешний вид, которой программируется по желанию заказчика. 2. Модули снятия параметров и контроля процессов. 3. Соединительная линия передачи данных. 4. Модуль выхода в интернет или сотовую сеть, для доступа с любой точки
                                    Непосредственно в состав системы мониторинга СПРУТ входит: 1. Оболочка визуального восприятия информации, которая устанавливается на компьютер и внешний вид, которой программируется по желанию заказчика. 2. Модули снятия параметров и контроля процессов. 3. Соединительная линия передачи данных. 4. Модуль выхода в интернет или сотовую сеть, для доступа с любой точки
                                    епосредственно в состав системы мониторинга СПРУТ входит: 1. Оболочка визуального восприятия информации, которая устанавливается на компьютер и внешний вид, которой программируется по желанию заказчика. 2. Модули снятия параметров и контроля процессов. 3. Соединительная линия передачи данных. 4. Модуль выхода в интернет или сотовую сеть, для доступа с любой точки
                                    Непосредственно в состав системы мониторинга СПРУТ входит: 1. Оболочка визуального восприятия информации, которая устанавливается на компьютер и внешний вид, которой программируется по желанию заказчика. 2. Модули снятия параметров и контроля процессов. 3. Соединительная линия передачи данных. 4. Модуль выхода в интернет или сотовую сеть, для доступа с любой точки
                                    епосредственно в состав системы мониторинга СПРУТ входит: 1. Оболочка визуального восприятия информации, которая устанавливается на компьютер и внешний вид, которой программируется по желанию заказчика. 2. Модули снятия параметров и контроля процессов. 3. Соединительная линия передачи данных. 4. Модуль выхода в интернет или сотовую сеть, для доступа с любой точки
                                    Непосредственно в состав системы мониторинга СПРУТ входит: 1. Оболочка визуального восприятия информации, которая устанавливается на компьютер и внешний вид, которой программируется по желанию заказчика. 2. Модули снятия параметров и контроля процессов. 3. Соединительная линия передачи данных. 4. Модуль выхода в интернет или сотовую сеть, для доступа с любой точки




        include modules/components/footer

script(src='js/index.js' defer)