doctype html
html(lang='en')
    include modules/head
    body.alternative
        include modules/components/header
        main
            .container
                .alternative_main_block

                        .alternative_main_block_wrapper.col-lg-10
                            -var titles =["Главная", "Альтернативные источники энергии"];

                            include modules/components/breadcrumbs
                            +breadcrumbs(titles)

                            .alternative_main_description_block

                                include modules/components/title
                                +title('Альтернативные источники энергии','yellow')

                                .alternative_main_description
                                    p.
                                        Простое желание иметь свое электричество, чтобы не зависеть от перебоев и отключений электросети, а так же вечное повышение тарифов на электроэнергию, которое подталкивает население на экономию энергоресурсов, ведет к популярности альтернативных источников электроэнергии. Подобное создание позволяет добиться значимых показателей экономии на электричестве.
                                        Ветряки, а также солнечные батареи можно смело приравнивать к обычным бытовым электроприборам. В Украине можно без всякой регистрации использовать для личных нужд ветряные и солнечные установки мощностью не более 75 кВт и ветряки высотой не более 30м. (Ссылка на закон)

                            .sun_battery_block
                                .sun_battery_title
                                    h3 СОЛНЕЧНЫЕ БАТАРЕИ
                                .sun_battery_description
                                    p.
                                        Солнечная батарея – отличный способ экономии вашего бюджета там, где нет линий электроснабжения или требуется резервный источник питания. Вы больше не будете платить за электричество.
                                .sun_battery_button
                                    a
                                        button ПОДРОБНЕЕ

                            .quote_block
                                .quote_text
                                    p
                                        strong Наша задача
                                        |  - не в том, чтобы продать вам как можно больше солнечных модулей или батарей, но предложить вам систему электропитания, которая позволит решить проблему с электроснабжением с минимальными затратами.
                            .air_energy_block
                                .air_energy_title
                                    h3 ЭНЕРГИЯ ВЕТРА
                                .air_energy_description
                                    p.
                                        Солнечная батарея – отличный способ экономии вашего бюджета там, где нет линий электроснабжения или требуется резервный источник питания. Вы больше не будете платить за электричество.
                                .air_energy_button
                                    a
                                        button ПОДРОБНЕЕ



                        .vertical_slider.col-lg-2
                            each val in [1,2,3,4,5,1]
                                img(src="img/alternative/house"+ val +".png", alt="")


            .container
                +title('ЧТО ПОЗВОЛЯЕТ СИСТЕМА «СПРУТ»',"yellow")

            .system_sprut_description_block
                .system_sprut_description_wrapper
                    .container
                        .row
                            -var images = ['eye', 'house','screen'];
                            -var title = ['Вести наблюдение за такими параметрами', 'Управлять выключением и включением любых нагрузок и аппаратов:','Предоставляет возможность отслеживать процессы:'];
                            -
                                var list = [
                                    ["Температура", "Влажность","Давление","Утечка природного газа", "Задымленность","Возгорание", "Утечку воды", "Накопление угарного газа СО"],
                                    ["Вентиляторы", "Насосы","Кондиционер", "Освещение", "Трехфазные и однофазные электромониторы и т.д." ],
                                    ["Включение или отключение механизма","Пуск и остановка электромотора станка","Открытие или закрытие двери, окна","Обнаружение движения в помещении или территории"]
                                ]

                            -for(var counter= 0; counter < images.length;counter++)
                                .col-lg-4
                                    .system_sprut_item
                                        .system_sprut_item_image_wrapper
                                            img(src="img/remote_control/" +images[counter]+ ".png")
                                        .system_sprut_item_title
                                            h3=title[counter]
                                        .system_sprut_item_option_list
                                            ul
                                                each val in list[counter]
                                                    li= val
            .container
                +title('ВАМ НУЖНА СИСТЕМА УДАЛЕННОГО УПРАВЛЕНИЯ И КОНТРОЛЯ, ЕСЛИ:','black')
                .remote_control_banners_block
                    .row
                        .col-lg-6
                            .remote_control_banner_left_image
                                img(src="img/remote_control/oie_RXmhGatthuT4.png")

                                .remote_control_banner_left
                                    p.
                                        Система будет интересна разработчикам технологического оборудования, потому что позволяет делать анализ: графики, динамические изображения, матричные индикаторы и т.д.
                        .col-lg-6
                            .remote_control_banner_right_image
                                img(src="img/remote_control/rightban.png")
                                .remote_control_banner_right
                                    p.
                                        Вы хотите вести круглосуточное  наблюдение в доме за определенными параметрами.
            .remote_control_services
                .remote_control_services_wrapper
                    .container
                        .remote_control_services_title
                            h3 НАША КОМПАНИЯ ПРЕДОСТАВЛЯЕТ ТАКИЕ УСЛУГИ

                        .remote_control_services_item_block
                            .row
                                -var images = ['house2', 'pc3','pult'];
                                -var title = ['Удаленный доступ', 'Мониторинг','Управление обьектом'];

                                -for(var counter= 0; counter < images.length;counter++)
                                    .col-lg-4
                                        .remote_control_services_item
                                                img(src="img/remote_control/" +images[counter]+ ".png")
                                                h3= title[counter]

            .faq_block
                .faq_block_wrapper
                    .container
                        +title("Вопросы и ответы","yellow")

                        .faq_item_block
                            .faq_item_title
                                h3 Что входит в состав си   стемы мониторинга «СПРУТ»?
                            .faq_item_description
                                p Непосредственно в состав системы мониторинга СПРУТ входит: 1. Оболочка визуального восприятия информации, которая устанавливается на компьютер и внешний вид, которой программируется по желанию заказчика. 2. Модули снятия параметров и контроля процессов. 3. Соединительная линия передачи данных. 4. Модуль выхода в интернет или сотовую сеть, для доступа с любой точки

                        .faq_item_block
                            .faq_item_title
                                h3 Что входит в состав си   стемы мониторинга «СПРУТ»?
                            .faq_item_description
                                p.
                                    епосредственно в состав системы мониторинга СПРУТ входит: 1. Оболочка визуального восприятия информации, которая устанавливается на компьютер и внешний вид, которой программируется по желанию заказчика. 2. Модули снятия параметров и контроля процессов. 3. Соединительная линия передачи данных. 4. Модуль выхода в интернет или сотовую сеть, для доступа с любой точки
                                    Непосредственно в состав системы мониторинга СПРУТ входит: 1. Оболочка визуального восприятия информации, которая устанавливается на компьютер и внешний вид, которой программируется по желанию заказчика. 2. Модули снятия параметров и контроля процессов. 3. Соединительная линия передачи данных. 4. Модуль выхода в интернет или сотовую сеть, для доступа с любой точки
                                    епосредственно в состав системы мониторинга СПРУТ входит: 1. Оболочка визуального восприятия информации, которая устанавливается на компьютер и внешний вид, которой программируется по желанию заказчика. 2. Модули снятия параметров и контроля процессов. 3. Соединительная линия передачи данных. 4. Модуль выхода в интернет или сотовую сеть, для доступа с любой точки
                                    Непосредственно в состав системы мониторинга СПРУТ входит: 1. Оболочка визуального восприятия информации, которая устанавливается на компьютер и внешний вид, которой программируется по желанию заказчика. 2. Модули снятия параметров и контроля процессов. 3. Соединительная линия передачи данных. 4. Модуль выхода в интернет или сотовую сеть, для доступа с любой точки
                                    епосредственно в состав системы мониторинга СПРУТ входит: 1. Оболочка визуального восприятия информации, которая устанавливается на компьютер и внешний вид, которой программируется по желанию заказчика. 2. Модули снятия параметров и контроля процессов. 3. Соединительная линия передачи данных. 4. Модуль выхода в интернет или сотовую сеть, для доступа с любой точки
                                    Непосредственно в состав системы мониторинга СПРУТ входит: 1. Оболочка визуального восприятия информации, которая устанавливается на компьютер и внешний вид, которой программируется по желанию заказчика. 2. Модули снятия параметров и контроля процессов. 3. Соединительная линия передачи данных. 4. Модуль выхода в интернет или сотовую сеть, для доступа с любой точки




        include modules/components/footer

script(src='js/index.js' defer)