doctype html
html(lang='en')
    include modules/head
    body.cnc_machines
        include modules/components/header
        main

            -var titles =["Главная", "Станки ЧПУ"];

            include modules/components/breadcrumbs
            .container
                +breadcrumbs(titles)


                .main_banner_title_text
                    include modules/components/title
                    +title("Станки ЧПУ","yellow")

            .main_cnc_machines_block

                .container

                    .main_cnc_machines_block_wrapper

                        .main_cnc_machines_item
                            .row
                                .col-lg-5
                                    .cnc_machines_list_image
                                         img(src="img/cnc_machines/stanok1.png")
                                .col-lg-7
                                    .cnc_machines_list_title
                                        h3 Станки под конкретную задачу
                                    .cnc_machines_list_text
                                        p.
                                            Использование станков, оборудованных временными системами управления, занимает в производственных процессах особое привилегированное положение.
                                            Это связано с тем, что оно позволяет выпускать детали, к которым выдвигаются строгие требования к размерам и допусков. Так же станки с ЧПУ в любой срок - путём простой смены управляющей программы - переориентированы на выпуск другого типа изделий, раздела чрезвычайно широкий ассортимент продукции.

                        .main_cnc_machines_item.right
                           .row

                               .col-lg-7
                                   .cnc_machines_list_title
                                       h3 Изготовление продукции на ЧПУ
                                   .cnc_machines_list_text
                                       p.
                                           Среди товаров самого разнообразного предназначения, которые встречаются на рынке, потребители особо ценят продукцию ручной работы. Для изготовления такой продукции самым удобным оборудованием являются гравировальные, фрезерные или токарные ЧПУ станки. При помощи такого оборудования можно даже в домашних условиях изготавливать всевозможные изделия из дерева и металла – элементы декора, предметы мебели и аксессуары к ней, сувениры и тому подобное. Оборудование в умелых руках дает возможность реализовывать самые разнообразные идеи.
                               .col-lg-5
                                   .cnc_machines_list_image
                                       img(src="img/cnc_machines/stanok2.png")

            .consultation_button
                .consultation_button_wrapper
                    a
                        button СВЯЗАТЬСЯ С НАМИ

            .banner_description_block
                include modules/main/shape_top.svg
                .banner_description_block_content
                    .banner_description_block_wrapper
                        .banner_description_title
                            h3 УЗНАТЬ СТОИМОСТЬ

                    .banner_description_icon_block
                        form(class="callback_form")
                            .container
                                .row
                                    .col-lg-6
                                        .row
                                            .callform_input
                                                .form-group
                                                    //label(class="control-label col-sm-2" for="name")
                                                    .col-sm-12
                                                        input(type="text" class="form-control" id="name" placeholder="ФИО")
                                                .form-group
                                                    //label(class="control-label col-sm-2" for="number")
                                                    .col-sm-12
                                                        input(type="number" class="form-control" id="number" placeholder="Номер телефона")
                                                .form-group
                                                    //label(class="control-label col-sm-2" for="email")
                                                    .col-sm-12
                                                        input(type="email" class="form-control" id="email" placeholder="E-mail")

                                    .col-lg-6
                                        .row
                                            .callform_textarea
                                                .form-group
                                                    //label(class="control-label col-sm-2" for="email")
                                                    .col-sm-12
                                                        textarea(name="text" class="" id="comment" rows="7" cols="50" placeholder="Комментарий")


                                .form-group
                                    .col-lg-12
                                        a(href='')
                                            button(type="submit" class="btn btn-default ") Связаться с нами
                include modules/main/shape_bottom.svg





            .faq_block
                .faq_block_wrapper
                    .container
                        +title("Вопросы и ответы","yellow")

                        .faq_item_block
                            .faq_item_title
                                h3 Что входит в состав си   стемы мониторинга «СПРУТ»?
                            .faq_item_description
                                p Непосредственно в состав системы мониторинга СПРУТ входит: 1. Оболочка визуального восприятия информации, которая устанавливается на компьютер и внешний вид, которой программируется по желанию заказчика. 2. Модули снятия параметров и контроля процессов. 3. Соединительная линия передачи данных. 4. Модуль выхода в интернет или сотовую сеть, для доступа с любой точки

                        .faq_item_block
                            .faq_item_title
                                h3 Что входит в состав си   стемы мониторинга «СПРУТ»?
                            .faq_item_description
                                p.
                                    епосредственно в состав системы мониторинга СПРУТ входит: 1. Оболочка визуального восприятия информации, которая устанавливается на компьютер и внешний вид, которой программируется по желанию заказчика. 2. Модули снятия параметров и контроля процессов. 3. Соединительная линия передачи данных. 4. Модуль выхода в интернет или сотовую сеть, для доступа с любой точки
                                    Непосредственно в состав системы мониторинга СПРУТ входит: 1. Оболочка визуального восприятия информации, которая устанавливается на компьютер и внешний вид, которой программируется по желанию заказчика. 2. Модули снятия параметров и контроля процессов. 3. Соединительная линия передачи данных. 4. Модуль выхода в интернет или сотовую сеть, для доступа с любой точки
                                    епосредственно в состав системы мониторинга СПРУТ входит: 1. Оболочка визуального восприятия информации, которая устанавливается на компьютер и внешний вид, которой программируется по желанию заказчика. 2. Модули снятия параметров и контроля процессов. 3. Соединительная линия передачи данных. 4. Модуль выхода в интернет или сотовую сеть, для доступа с любой точки
                                    Непосредственно в состав системы мониторинга СПРУТ входит: 1. Оболочка визуального восприятия информации, которая устанавливается на компьютер и внешний вид, которой программируется по желанию заказчика. 2. Модули снятия параметров и контроля процессов. 3. Соединительная линия передачи данных. 4. Модуль выхода в интернет или сотовую сеть, для доступа с любой точки
                                    епосредственно в состав системы мониторинга СПРУТ входит: 1. Оболочка визуального восприятия информации, которая устанавливается на компьютер и внешний вид, которой программируется по желанию заказчика. 2. Модули снятия параметров и контроля процессов. 3. Соединительная линия передачи данных. 4. Модуль выхода в интернет или сотовую сеть, для доступа с любой точки
                                    Непосредственно в состав системы мониторинга СПРУТ входит: 1. Оболочка визуального восприятия информации, которая устанавливается на компьютер и внешний вид, которой программируется по желанию заказчика. 2. Модули снятия параметров и контроля процессов. 3. Соединительная линия передачи данных. 4. Модуль выхода в интернет или сотовую сеть, для доступа с любой точки




        include modules/components/footer

script(src='js/index.js' defer)