doctype html
html(lang='en')
    include modules/head
    body.power_supply
        include modules/components/header
        main

            -var titles =["Главная", "Электроснабжение"];

            include modules/components/breadcrumbs
            .container
                +breadcrumbs(titles)

            .main_banner_title_block
                .main_banner_title
                    .main_banner_title_image
                        img(src="img/power_supply/electro-dark.png")
                    .container
                        .main_banner_title_text
                            include modules/components/title
                            +title("Электроснабжение","yellow")

            .main_power_supply_description_block
                .container
                    .main_power_supply_description_block_wrapper
                        .main_power_supply_description_text
                            p.
                                На сегодняшний день, #[b электроэнергия] является самым распространенным и можно сказать, что это источник тепла, света, комфорта и удобства в нашей повседневной жизни. Трудно себе представить наш быт без этого невидимого помощника. Каждый, наверное, сталкивался с моментом жизни или из-за экономии или отключениями, связанными с погодными условиями. Тогда мы понимаем так не комфортно становится в доме или квартире. Но есть еще одна сторона в пользовании электроэнергией - это не качественная электропроводка в доме, не правильно сделанный монтаж, подобранныи кабеля и провода, выбрано УЗО и автоматические выключатели. Тогда наш самый лучший и незаменимый помощник, становится опасным врагом и даже убийцей. По статистике служб спасения и МЧС, более половины серьезных пожаров происходит именно по причине не качественной электропроводки или ее эксплуатации. При пристройке дома, или ремонте своего жилья, установка оборудования в цеху или на производстве в целом, работу по электрообеспечению лучше доверить проффесионалам.
                        .main_power_supply_description_block_title
                             h3 Компания ПАИСА предоставляет полный спектр услуг по электроснабжению промышленных предприятий и домов, который включает в себя:
                        .main_power_supply_description_block_list
                            -var listLeft = ["Составление проекта электроснабжения на строящейся объект или на ответственное строение, которое требует замены или реорганизации электроснабжения.","Расчет и монтаж заземляющего контура.","Определение кабелей","Расчет аппаратов защиты (автоматические выключатели, универсальные защиты отклю (УЗО), рубильники и т.д.)","Составление спецификации на оборудование и монтажные материалы","Расчет цепей 220в и 380в (0,4кВ)","Расчет и установка распределительных щитов и щитов управления"]
                            -var listRight = ["Полный монтаж электроснабжения согласно проекту","Подключение любого низковольтного (220 / 380в) оборудования","Подключение счетчиков электроэнергии 220в, 380в прямых включений и 380в Включение через трансформаторы тока (пром-учет)","Трасировка кобелей и проводов на строительных чертежах, с последующим монтажом и пуско-наладкой оборудования объекта.","Автоматизация технологических процессов, разработка схем автоматики, сборка и монтаж щитов автоматического управления непосредственно на объекте"]

                            .row
                                .container
                                    .col-lg-6
                                        .list_left
                                            ul
                                                -for (var counter=0; counter<listLeft.length;counter++)
                                                    li= listLeft[counter]

                                    .col-lg-6
                                        .list_right
                                            ul
                                                -for (var counter=0; counter<listRight.length;counter++)
                                                    li= listRight[counter]

            .consultation_button
                .consultation_button_wrapper
                    a
                        button СВЯЗАТЬСЯ С НАМИ
            .banner_description_block
                include modules/main/shape_top.svg
                .banner_description_block_content
                    .banner_description_block_wrapper
                        .banner_description_title
                            h3 ПАИСА ЭТО

                    .banner_description_icon_block
                        .container
                            .row
                                .banner_description_icon_block_wrapper
                                    -var icons = ["like","-------2","customer--1-","safety","hand"];
                                    -var title = ["Просто","Актуально","Индивидуально","Стабильно","Аккуратно"];
                                    each val in [0,1,2,3,4]
                                        -if(val!=0)
                                            .col-lg-4.banner_description_dots_wrapper
                                                .banner_description_dots
                                                    .col-lg-4.dot •
                                                    .col-lg-4.dot •
                                                    .col-lg-4.dot •

                                        .banner_description_icon_block_item.col-lg-10
                                            .banner_description_icon_wrapper
                                                .banner_description_icon_block_img
                                                    img(src="img/icons/" + icons[val] + ".png")
                                            .banner_description_icon_block_title
                                                h3=title[val]
                include modules/main/shape_bottom.svg


            form(class="callback_form")
                    .container
                        .col-lg-12
                            +title("УЗНАТЬ СТОИМОСТЬ","none")
                        .col-lg-6
                            .row
                                .callform_input
                                    .form-group
                                        //label(class="control-label col-sm-2" for="name")
                                        .col-sm-12
                                            input(type="text" class="form-control" id="name" placeholder="ФИО")
                                    .form-group
                                        //label(class="control-label col-sm-2" for="number")
                                        .col-sm-12
                                            input(type="number" class="form-control" id="number" placeholder="Номер телефона")
                                    .form-group
                                        //label(class="control-label col-sm-2" for="email")
                                        .col-sm-12
                                            input(type="email" class="form-control" id="email" placeholder="E-mail")

                        .col-lg-6
                            .row
                                .callform_textarea
                                    .form-group
                                        //label(class="control-label col-sm-2" for="email")
                                        .col-sm-12
                                            textarea(name="text" class="" id="comment" rows="7" cols="50" placeholder="Комментарий")


                        .form-group
                            .col-lg-12
                                a(href='')
                                    input(type="submit" class="btn btn-default " placeholder="Связаться с нами")

            .faq_block
                .faq_block_wrapper
                    .container
                        +title("Вопросы и ответы","yellow")

                        .faq_item_block
                            .faq_item_title
                                h3 Что входит в состав си   стемы мониторинга «СПРУТ»?
                            .faq_item_description
                                p Непосредственно в состав системы мониторинга СПРУТ входит: 1. Оболочка визуального восприятия информации, которая устанавливается на компьютер и внешний вид, которой программируется по желанию заказчика. 2. Модули снятия параметров и контроля процессов. 3. Соединительная линия передачи данных. 4. Модуль выхода в интернет или сотовую сеть, для доступа с любой точки

                        .faq_item_block
                            .faq_item_title
                                h3 Что входит в состав си   стемы мониторинга «СПРУТ»?
                            .faq_item_description
                                p.
                                    епосредственно в состав системы мониторинга СПРУТ входит: 1. Оболочка визуального восприятия информации, которая устанавливается на компьютер и внешний вид, которой программируется по желанию заказчика. 2. Модули снятия параметров и контроля процессов. 3. Соединительная линия передачи данных. 4. Модуль выхода в интернет или сотовую сеть, для доступа с любой точки
                                    Непосредственно в состав системы мониторинга СПРУТ входит: 1. Оболочка визуального восприятия информации, которая устанавливается на компьютер и внешний вид, которой программируется по желанию заказчика. 2. Модули снятия параметров и контроля процессов. 3. Соединительная линия передачи данных. 4. Модуль выхода в интернет или сотовую сеть, для доступа с любой точки
                                    епосредственно в состав системы мониторинга СПРУТ входит: 1. Оболочка визуального восприятия информации, которая устанавливается на компьютер и внешний вид, которой программируется по желанию заказчика. 2. Модули снятия параметров и контроля процессов. 3. Соединительная линия передачи данных. 4. Модуль выхода в интернет или сотовую сеть, для доступа с любой точки
                                    Непосредственно в состав системы мониторинга СПРУТ входит: 1. Оболочка визуального восприятия информации, которая устанавливается на компьютер и внешний вид, которой программируется по желанию заказчика. 2. Модули снятия параметров и контроля процессов. 3. Соединительная линия передачи данных. 4. Модуль выхода в интернет или сотовую сеть, для доступа с любой точки
                                    епосредственно в состав системы мониторинга СПРУТ входит: 1. Оболочка визуального восприятия информации, которая устанавливается на компьютер и внешний вид, которой программируется по желанию заказчика. 2. Модули снятия параметров и контроля процессов. 3. Соединительная линия передачи данных. 4. Модуль выхода в интернет или сотовую сеть, для доступа с любой точки
                                    Непосредственно в состав системы мониторинга СПРУТ входит: 1. Оболочка визуального восприятия информации, которая устанавливается на компьютер и внешний вид, которой программируется по желанию заказчика. 2. Модули снятия параметров и контроля процессов. 3. Соединительная линия передачи данных. 4. Модуль выхода в интернет или сотовую сеть, для доступа с любой точки




        include modules/components/footer

script(src='js/index.js' defer)