doctype html
html(lang='en')
    include modules/head
    body.remote_control
        include modules/components/header
        main

            -var titles =["Главная", "Удаленное управление и контроль"];
            .container
                include modules/components/breadcrumbs
                +breadcrumbs(titles)

                include modules/components/title
                +title('Удаленное управление и контроль','yellow')

            .sprut_block
                .sprut_block_wrapper
                    .sprut_block_img_wrapper
                        img(src='img/kraken.png')
            .container
                +title('ЧТО ПОЗВОЛЯЕТ СИСТЕМА «СПРУТ»',"yellow")

            .system_sprut_description_block
                .system_sprut_description_wrapper
                    .container
                        .row
                            -var images = ['eye', 'house','screen'];
                            -var title = ['Вести наблюдение за такими параметрами', 'Управлять выключением и включением любых нагрузок и аппаратов:','Предоставляет возможность отслеживать процессы:'];
                            -
                                var list = [
                                    ["Температура", "Влажность","Давление","Утечка природного газа", "Задымленность","Возгорание", "Утечку воды", "Накопление угарного газа СО"],
                                    ["Вентиляторы", "Насосы","Кондиционер", "Освещение", "Трехфазные и однофазные электромониторы и т.д." ],
                                    ["Включение или отключение механизма","Пуск и остановка электромотора станка","Открытие или закрытие двери, окна","Обнаружение движения в помещении или территории"]
                                ]

                            -for(var counter= 0; counter < images.length;counter++)
                                .col-lg-4
                                    .system_sprut_item
                                        .system_sprut_item_image_wrapper
                                            img(src="img/remote_control/" +images[counter]+ ".png")
                                        .system_sprut_item_title
                                            h3=title[counter]
                                        .system_sprut_item_option_list
                                            ul
                                                each val in list[counter]
                                                    li= val
            .container
                +title('ВАМ НУЖНА СИСТЕМА УДАЛЕННОГО УПРАВЛЕНИЯ И КОНТРОЛЯ, ЕСЛИ:','black')
                .remote_control_banners_block
                    .row
                        .col-lg-6
                            .remote_control_banner_left_image
                                img(src="img/remote_control/oie_RXmhGatthuT4.png")

                                .remote_control_banner_left
                                    p.
                                        Система будет интересна разработчикам технологического оборудования, потому что позволяет делать анализ: графики, динамические изображения, матричные индикаторы и т.д.
                        .col-lg-6
                            .remote_control_banner_right_image
                                img(src="img/remote_control/rightban.png")
                                .remote_control_banner_right
                                    p.
                                        Вы хотите вести круглосуточное  наблюдение в доме за определенными параметрами.
            .remote_control_services
                .remote_control_services_wrapper
                    .container
                        .remote_control_services_title
                            h3 НАША КОМПАНИЯ ПРЕДОСТАВЛЯЕТ ТАКИЕ УСЛУГИ

                        .remote_control_services_item_block
                            .row
                                -var images = ['house2', 'pc3','pult'];
                                -var title = ['Удаленный доступ', 'Мониторинг','Управление обьектом'];

                                -for(var counter= 0; counter < images.length;counter++)
                                    .col-lg-4
                                        .remote_control_services_item
                                            img(src="img/remote_control/" +images[counter]+ ".png")
                                            h3= title[counter]

            .faq_block
                .faq_block_wrapper
                    .container
                        +title("Вопросы и ответы","yellow")

                        .faq_item_block
                            .faq_item_title
                                h3 Что входит в состав си   стемы мониторинга «СПРУТ»?
                            .faq_item_description
                                p Непосредственно в состав системы мониторинга СПРУТ входит: 1. Оболочка визуального восприятия информации, которая устанавливается на компьютер и внешний вид, которой программируется по желанию заказчика. 2. Модули снятия параметров и контроля процессов. 3. Соединительная линия передачи данных. 4. Модуль выхода в интернет или сотовую сеть, для доступа с любой точки

                        .faq_item_block
                            .faq_item_title
                                h3 Что входит в состав си   стемы мониторинга «СПРУТ»?
                            .faq_item_description
                                p.
                                    епосредственно в состав системы мониторинга СПРУТ входит: 1. Оболочка визуального восприятия информации, которая устанавливается на компьютер и внешний вид, которой программируется по желанию заказчика. 2. Модули снятия параметров и контроля процессов. 3. Соединительная линия передачи данных. 4. Модуль выхода в интернет или сотовую сеть, для доступа с любой точки
                                    Непосредственно в состав системы мониторинга СПРУТ входит: 1. Оболочка визуального восприятия информации, которая устанавливается на компьютер и внешний вид, которой программируется по желанию заказчика. 2. Модули снятия параметров и контроля процессов. 3. Соединительная линия передачи данных. 4. Модуль выхода в интернет или сотовую сеть, для доступа с любой точки
                                    епосредственно в состав системы мониторинга СПРУТ входит: 1. Оболочка визуального восприятия информации, которая устанавливается на компьютер и внешний вид, которой программируется по желанию заказчика. 2. Модули снятия параметров и контроля процессов. 3. Соединительная линия передачи данных. 4. Модуль выхода в интернет или сотовую сеть, для доступа с любой точки
                                    Непосредственно в состав системы мониторинга СПРУТ входит: 1. Оболочка визуального восприятия информации, которая устанавливается на компьютер и внешний вид, которой программируется по желанию заказчика. 2. Модули снятия параметров и контроля процессов. 3. Соединительная линия передачи данных. 4. Модуль выхода в интернет или сотовую сеть, для доступа с любой точки
                                    епосредственно в состав системы мониторинга СПРУТ входит: 1. Оболочка визуального восприятия информации, которая устанавливается на компьютер и внешний вид, которой программируется по желанию заказчика. 2. Модули снятия параметров и контроля процессов. 3. Соединительная линия передачи данных. 4. Модуль выхода в интернет или сотовую сеть, для доступа с любой точки
                                    Непосредственно в состав системы мониторинга СПРУТ входит: 1. Оболочка визуального восприятия информации, которая устанавливается на компьютер и внешний вид, которой программируется по желанию заказчика. 2. Модули снятия параметров и контроля процессов. 3. Соединительная линия передачи данных. 4. Модуль выхода в интернет или сотовую сеть, для доступа с любой точки




        include modules/components/footer

script(src='js/index.js' defer)