doctype html
html(lang='en')
    include modules/head
    body.solar_panels
        include modules/components/header
        main

            -var titles =["Главная", "Альтернативные источники энергии", "Солнечные батареи"];

            include modules/components/breadcrumbs
            .container
                +breadcrumbs(titles)

            .main_banner_title_block
                .main_banner_title
                    .main_banner_title_image
                        img(src="img/solar_panels/solar_panel.png")
                    .container
                        .main_banner_title_text
                            include modules/components/title
                            +title("Солнечные батареи","yellow")



            .main_solar_panel_description_block
                .container
                    .row
                        .main_solar_panel_description_block_wrapper
                            .col-lg-4
                                .main_solar_panel_description_image
                                    img(src="img/alternative/solar_sun.png")
                            .col-lg-8
                                .main_solar_panel_description_text
                                    p.
                                        #[strong Солнечные батареи для дома] - неприверителивые конструкции, которые можно установить легко на крыше, на балконе или на стене дома. Проработают более 25 лет, так как они не имеют подвижных частей и любого-либо сложной электроники в вашем составе, а прочная алюминиевая рама и надежная герметизация элементов обеспечивает бесперебойную работу панелей в любых погодных условиях при любой температуре.
                                        Сравнивая ветряки и солнечные модули, можно получить доступ к следующим источникам энергии, а также использовать двойную энергию и получить двойную выгоду.

            .consultation_button
                .consultation_button_wrapper
                    a
                        button СВЯЗАТЬСЯ С НАМИ

            +title("КАК ВСЕ ПРОИСХОДИТ?","top-yellow")
            .work_steps_block
                .work_steps_wrapper
                    .container
                        .row
                            -var imgList = ["step1","step2","step3","step4","step5","step6"]
                            -var titleList = ["Выезд на объект заказчика","Составление проекта","Монтаж, установка и пусконаладочные работы","Определение номинальной мощности  и электропотребления","Определение комплектации для монтажа установки","Сдача объекта заказчику"]
                            -for(var counter=0;counter<imgList.length;counter++)
                                .col-lg-4
                                    .work_step_item(class = counter < 3 ? "down_arrow" : counter > 2 && counter < 5 ? "angle_arrow": ""  )
                                        .work_step_item_content
                                            .step_background_number
                                                -var step = counter+1 == 2 ? 3 : counter+1 == 3 ? 5 : counter+1 == 4 ? 2 : counter+1 == 5 ? 4 : counter+1;
                                                p= step
                                            .step_content_block
                                                .step_count
                                                    h3 Шаг #{step}
                                                .step_title
                                                    p= titleList[counter]
                                        .step_image
                                            img(src="img/solar_panels/"+imgList[counter]+".png")


            .banner_description_block
                .banner_description_block_content

                    .banner_description_block_wrapper
                        .banner_description_title
                            h3 ПАИСА ЭТО

                    .banner_description_icon_block
                        .container
                            .row
                                .banner_description_icon_block_wrapper
                                    -var icons = ["-------2","money","plug" ];
                                    -var title = ["Универсально","Экономно","Экологично"];
                                    each val in [0,1,2]
                                        -if(val!=0)
                                            .col-lg-4.banner_description_dots_wrapper
                                                .banner_description_dots
                                                    .col-lg-4.dot •
                                                    .col-lg-4.dot •
                                                    .col-lg-4.dot •

                                        .banner_description_icon_block_item.col-lg-10
                                            .banner_description_icon_wrapper
                                                .banner_description_icon_block_img
                                                    img(src="img/icons/" + icons[val] + ".png")
                                            .banner_description_icon_block_title
                                                h3=title[val]
                                            .banner_description_icon_block_text
                                                p Возможность пользоваться бесплатной и неисчерпаемой энергией ветра и солнца и не завесить от электросети
                include modules/main/shape_bottom.svg



            .faq_block
                .faq_block_wrapper
                    .container
                        +title("Вопросы и ответы","yellow")

                        .faq_item_block
                            .faq_item_title
                                h3 Что входит в состав си   стемы мониторинга «СПРУТ»?
                            .faq_item_description
                                p Непосредственно в состав системы мониторинга СПРУТ входит: 1. Оболочка визуального восприятия информации, которая устанавливается на компьютер и внешний вид, которой программируется по желанию заказчика. 2. Модули снятия параметров и контроля процессов. 3. Соединительная линия передачи данных. 4. Модуль выхода в интернет или сотовую сеть, для доступа с любой точки

                        .faq_item_block
                            .faq_item_title
                                h3 Что входит в состав си   стемы мониторинга «СПРУТ»?
                            .faq_item_description
                                p.
                                    епосредственно в состав системы мониторинга СПРУТ входит: 1. Оболочка визуального восприятия информации, которая устанавливается на компьютер и внешний вид, которой программируется по желанию заказчика. 2. Модули снятия параметров и контроля процессов. 3. Соединительная линия передачи данных. 4. Модуль выхода в интернет или сотовую сеть, для доступа с любой точки
                                    Непосредственно в состав системы мониторинга СПРУТ входит: 1. Оболочка визуального восприятия информации, которая устанавливается на компьютер и внешний вид, которой программируется по желанию заказчика. 2. Модули снятия параметров и контроля процессов. 3. Соединительная линия передачи данных. 4. Модуль выхода в интернет или сотовую сеть, для доступа с любой точки
                                    епосредственно в состав системы мониторинга СПРУТ входит: 1. Оболочка визуального восприятия информации, которая устанавливается на компьютер и внешний вид, которой программируется по желанию заказчика. 2. Модули снятия параметров и контроля процессов. 3. Соединительная линия передачи данных. 4. Модуль выхода в интернет или сотовую сеть, для доступа с любой точки
                                    Непосредственно в состав системы мониторинга СПРУТ входит: 1. Оболочка визуального восприятия информации, которая устанавливается на компьютер и внешний вид, которой программируется по желанию заказчика. 2. Модули снятия параметров и контроля процессов. 3. Соединительная линия передачи данных. 4. Модуль выхода в интернет или сотовую сеть, для доступа с любой точки
                                    епосредственно в состав системы мониторинга СПРУТ входит: 1. Оболочка визуального восприятия информации, которая устанавливается на компьютер и внешний вид, которой программируется по желанию заказчика. 2. Модули снятия параметров и контроля процессов. 3. Соединительная линия передачи данных. 4. Модуль выхода в интернет или сотовую сеть, для доступа с любой точки
                                    Непосредственно в состав системы мониторинга СПРУТ входит: 1. Оболочка визуального восприятия информации, которая устанавливается на компьютер и внешний вид, которой программируется по желанию заказчика. 2. Модули снятия параметров и контроля процессов. 3. Соединительная линия передачи данных. 4. Модуль выхода в интернет или сотовую сеть, для доступа с любой точки




        include modules/components/footer

script(src='js/index.js' defer)